.SwipeButtons {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.SwipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.SwipeButtons > button {
  padding: 3vw !important;
}

.SwipeButtons-replay {
  color: #f5b748 !important;
}

.SwipeButtons-close {
  color: #ec5e6f !important;
}

.SwipeButtons-star {
  color: #62b4f9 !important;
}

.SwipeButtons-favorite {
  color: #76e2b3 !important;
}

.SwipeButtons-flash {
  color: #915dd1 !important;
}
